/*
.vl {
    border-left: 3px solid black;
    height: 900px;
}

section1.{

}
*/
*{
    margin: 4px;
    padding: 0;
}
.container{
    padding: 20px;
    display: block;
    margin: 10px;
    border-radius: 5px;
}
.container input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: vertical;
    border-radius: 10px;

}

#button{
    background-color: seagreen;
    cursor: pointer;

}

table th{
    border: 2px solid black;
    height: 50px;

}
table {
    border-collapse: collapse;
    width: 25%;
    margin-top: 15px;
}